body {
  background-color: #e0ebe8;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  text-align: center;
}
h1 {
  color: rgb(250, 51, 144);
}
h1 {
  font-family: "Dancing Script", cursive;
  margin: 50px 0 20px;
  font-size: 4rem;
  padding: 0;
}
h2,
h3 {
  color: #d34096;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.first-container {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
}
.first-container h2 {
  margin: 0 0 100px 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(250, 51, 144);
}
.top-pic {
  position: absolute;
  right: 300px;
  top: 50px;
  width: 150px;
}
.bottom-pic {
  position: absolute;
  left: 300px;
  bottom: 400px;
  width: 130px;
}
.center-pic {
  width: 800px;
}
.second-container,
.third-container {
  margin: 80px 0;
}
.profile-img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.profile p {
  width: 480px;
  height: 150px;
  margin: 0 auto;
  line-height: 1.5;
}
.services {
  margin: 80px auto;
}
.service-row {
  width: 50%;
  margin: 100px auto;
  line-height: 2;
  text-align: left;
}
.service-img-one {
  float: left;
  width: 25%;
  border-radius: 20%;
  margin-right: 30px;
}
.service-img-two {
  float: right;
  width: 25%;
  border-radius: 50%;
  margin-right: 30px;
}
.Itu {
  width: 55%;
  border-radius: 20%;
  margin-right: 30px;
  object-fit: cover;
}
#CEO {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.Sajib {
  width: 55%;
  border-radius: 20%;
  margin-right: 30px;
  object-fit: cover;
}
#Director {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.third-container {
  position: relative;
}
